.change-password-container {
  min-height: 700px;
  width: 90% !important;
}

.change-password-card {
  background: #eeeeee !important;
  border-radius: 0px !important;
  border: none !important;
  margin-top: 5rem !important;
  width: 50% !important;
  margin: 0 auto;
}

.change-password-header {
  background: #eeeeee !important;
  border: none !important;
  margin-top: 2rem;
  font-size: 1.8rem;
}

.change-password-body {
  width: 70%;
  margin: 0 auto;
}

.change-password-group {
  /* Các thuộc tính CSS cho Form.Group */
}

.change-password-label {
  /* Các thuộc tính CSS cho Form.Label */
}

.change-password-control {
}

.change-password-control:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid black !important;
}

.change-password-button {
  display: block !important;
  margin: 0 auto !important;
  border: 0rem !important;
  border-radius: 0rem !important;
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
  background: #942446 !important;
}

.validation-change-password {
  margin-top: 1rem;
  margin-left: -1.5rem;
}

@media (max-width: 728px) {
  .change-password-container {
    min-height: 700px;
    width: 90% !important;
  }

  .change-password-card {
    background: #eeeeee !important;
    border-radius: 0px !important;
    border: none !important;
    margin-top: 5rem !important;
    width: 300px !important;
    margin: 0 auto;
  }
}
